################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pesutupa/bin/Debug/net7.0
/Pesutupa/obj
/Pesutupa/appsettings.Development.json
